.addFormButton {
    position: fixed;
    bottom: 5%; /* Pushes it up slightly from the bottom */
    right: 2%; /* Aligns slightly inward from the right */
    z-index: 1000;
    transform: translate(0, 0); /* Remove unnecessary translate properties */
}

@media (max-width: 600px) {
    .addFormButton {
        bottom: 1%; /* Adjust for smaller screens */
        right: 5%;
    }
}
