.Doctor-centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.Doctor-card-row {
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.Doctor-card-col {
    flex: 1;
    max-width: 350px;
    margin-top: -10px;
    display: flex;
    justify-content: center;
}

.Doctor-card {
    height: auto;
    display: flex;
    align-items: center;
    width: 40vw;
    background-color: rgb(205, 205, 205);
    border: none;
}

.Doctor-cardIMG {
    width: 250px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.Doctor-card-body {
    text-align: center;
    margin-bottom: 10px;
}

@media (max-width: 1146px) {
    .Doctor-card {
        width: 80vw;
    }
}

@media (max-width: 600px) {
    .Doctor-card {
        width: 90vw;
    }

    .Doctor-card-row {
        gap: 1rem;
    }
}
