.Doctor-centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    overflow: hidden; /* Prevent scrolling */
}

.Doctor-card-row {
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap; /* Allow the cards to wrap on smaller screens */
    max-width: 100%; /* Ensure the cards fit within the screen */
}

.Doctor-card-col {
    flex: 1;
    max-width: 350px;
    margin-top: -10px; /* Adjust the value to move the cards upwards slightly */
    max-height: 100%; /* Prevent the cards from exceeding the container's height */
    display: flex;
    justify-content: center;
}

.Doctor-card {
    max-height: 100%; /* Make sure the card fits in the available space */
    height: auto;
    display: flex;
    align-items: center;
    width: 40vw;
    background-color: rgb(205, 205, 205);
    border: none;
}

.Doctor-cardIMG {
    width: 250px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.Doctor-card-body {
    text-align: center;
    margin-bottom: 10px;
}
